<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="_csrf" th:if="${_csrf}" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:if="${_csrf}" th:content="${_csrf.headerName}"/>
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
<script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
<![endif]-->
 <title th:utext="#{system.title}"></title>
<!-- Jquery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
<!-- Bootstrap -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/csrf.js}"></script>
<script type="text/javascript" th:src="@{/js/func.js}"></script>
<script type="text/javascript" th:src="@{/js/validata.js}"></script>
<script type="text/javascript" th:inline="javascript">
//各个js库之间的主要冲突在于$的冲突，这个方法是用来处理这个问题的  
var menuUrl=[[@{${menuUrl}}]];
$(document).ready(function($){
	//添加
	$("#toAdd").click(function(){
		setData({
			menuId:"",
			menuName:"",
			menuUrl:"",
			menuOrder:"",
			parentMenuId:"",
			menuType:"",
			isAuth:true,
			isUsed:false
		});
		//显示
		$('#editModal').modal({
			keyboard: false,
			backdrop: 'static'
		});
	});
	//保存
	$("#doAdd").click(function(){
		var fields=[
    		{id:'menuName',	text:'功能名称',allowBlank:false},
    		{id:'menuUrl',	text:'功能URL',allowBlank:false},
    		{id:'menuOrder',	text:'功能序号',type:'int',allowBlank:false}
    	];
    	
    	var flag=checkFields(fields);
    	if(!flag){
    		return false;
    	}
    	var url=menuUrl+'/add';
    	if($("#menuId").val()!=""){
    		url=menuUrl+'/edit';
    	}
		$.post(url,
			data(),
			function(data){
				if(data.code==0){
					alert(data.msg);
					$("#frm").attr("action", menuUrl+"/list");
					$("#frm").submit();
				}else{
					alert(data.error);
				}
			});
		return false;
	});
	//生成菜单
	$("#doGenerate").click(function(){
		var url=menuUrl+'/build';
		$.post(url,function(data){
				if(data.code==0){
					alert(data.msg);
					$("#frm").attr("action", menuUrl+"/list");
					$("#frm").submit();
				}else{
					alert(data.error);
				}
			});
		return false;
	});
	function data(){
		return {
			menuId:$("#menuId").val(),
			menuName:$("#menuName").val(),
			menuUrl:$("#menuUrl").val(),
			menuOrder:$("#menuOrder").val(),
			parentMenuId:$("#parentMenuId").val(),
			menuType:$("#menuType").val(),
			isAuth:$("input[name='isAuth']:checked").val(),
			isUsed:$("input[name='isUsed']:checked").val()
		};
	}

	/* 修改 */
	$("[data-edit-id]").each(function(){
		var id = $(this).attr('data-edit-id');
		$(this).click(function(){
			var url=menuUrl+'/'+id;
			$.post(url,function(data){
				if(data==null){
					alert("参数错误，不能修改");
					return;
				}
				setData(data);
				//显示
				$('#editModal').modal({
					keyboard: false,
					backdrop: 'static'
				});
			});
		});
	});
	/* 启用 */
	$("[data-enable-id]").each(function(){
		var id = $(this).attr('data-enable-id');
		$(this).click(function(){
			var url=menuUrl+'/enable/'+id;
			$.post(url,function(data){
				if(data.code==0){
					alert(data.msg);
					$("#frm").attr("action", menuUrl+"/list");
					$("#frm").submit();
				}else{
					alert("参数错误");
				}
			});
			return false;
		});
	});
	/* 禁用  */
	$("[data-disable-id]").each(function(){
		var id = $(this).attr('data-disable-id');
		$(this).click(function(){
			var url=menuUrl+'/disable/'+id;
			$.post(url,function(data){
				if(data.code==0){
					alert(data.msg);
					$("#frm").attr("action", menuUrl+"/list");
					$("#frm").submit();
				}else{
					alert("参数错误");
				}
			});
			return false;
		});
	});
	/* 删除  */
	$("[data-del-id]").each(function(){
		var id = $(this).attr('data-del-id');
		$(this).click(function(){
			if(confirm("确认要删除该菜单吗？")){
				var url=menuUrl+'/del/'+id;
				$.post(url,function(data){
					if(data.code==0){
						alert(data.msg);
						$("#frm").attr("action", menuUrl+"/list");
						$("#frm").submit();
					}else{
						alert(data.error);
					}
				});
				return false;
			}
		});
	});
});
function setData(data){
	$("#menuId").val(data.menuId),
	$("#menuName").val(data.menuName),
	$("#menuUrl").val(data.menuUrl),
	$("#menuOrder").val(data.menuOrder),
	$("#parentMenuId").val(data.parentMenuId),
	$("#menuType").val(data.menuType),
	$("input[name='isAuth'][value="+data.isAuth+"]").attr("checked",true); 
	$("input[name='isUsed'][value="+data.isUsed+"]").attr("checked",true); 
}
</script>
</head>
<body>
<form id="frm" name="frm" th:action="@{|${menuUrl}/list|}" method="post" class="form-horizontal">
<input type="hidden" id="menuId" name="menuId" />
<!-- 导航 
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/}">首页</a></li>
	    <li class="breadcrumb-item"><a th:href="@{|${menuUrl}/list|}">微信菜单管理</a></li>
	  </ol>
	</nav>-->
<div class="container-fluid">
	<!-- content -->
	<p class="f-20 text-success">欢迎使用[[#{system.title}]]-微信菜单管理</p>
	<div class="form-inline">	
		<div class="mb-3">
		<input type="button" value=" 增 加 " id="toAdd" class="btn btn-primary" />
		<input type="button" value="生成微信菜单" id="doGenerate" class="btn btn-primary"/>
		</div>
	</div>
	<!-- 列表显示 -->
	<table class="table table-bordered table-hover">
			<colgroup>
				<col width="8%" />
				<col width="8%" />
				<col width="10%" />
				<col width="30%" />
				<col width="8%" />
				<col width="8%" />
				<col width="8%" />
				<col width="8%" />
				<col width="12%" />
			</colgroup>
			<thead>
			<tr class="text-c">
				<th>菜单ID</th>
				<th>上级菜单ID</th>
				<th>功能名称</th>
		        <th>功能路径</th>
		        <th>功能排序</th>
		        <th>菜单类型</th>
		        <th>是否授权</th>
		        <th>是否启用</th>
		        <th>操作</th>
			</tr>
		</thead>
			<th:block th:remove="all-but-first">
				<tr class="odd" th:each="obj,i:${menuList}">
					<td th:text="${obj.menuId}"></td>
					<td th:text="${obj.parentMenuId}"></td>
					<td th:text="${obj.menuName}"></td>
					<td th:text="${obj.menuUrl}"></td>
					<td th:text="${obj.menuOrder}"></td>
					<td><app:dictname dictid="${obj.menuType}"/></td>
					<td th:text="${obj.isAuth?'需要':'不需要'}"></td>
					<td th:text="${obj.isUsed?'启用':'禁用'}"></td>
					<td><div class="btn-group btn-group-sm" role="group" aria-label="...">
							<button type="button" class="btn btn-info" th:attr="data-edit-id=${obj.menuId}" >编辑</button>
							<button type="button" class="btn btn-danger" th:attr="data-del-id=${obj.menuId}" >删除</button>
							<button type="button" class="btn btn-success" th:attr="data-enable-id=${obj.menuId}"  th:if="${!obj.isUsed}">启用</button>
							<button type="button" class="btn btn-warning" th:attr="data-disable-id=${obj.menuId}"  th:if="${obj.isUsed}">禁用</button>
					</div>
					</td>
				</tr>
			</th:block>
		</table>
</div>
    <!-- 模态框:编辑菜单 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">微信菜单编辑</h5>
				</div>
				<div class="modal-body" style="padding:10px;">
					<div class="form-inline">
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">一级菜单</div>
							</div>
							<select name="parentMenuId" id="parentMenuId" class="form-control">
								<option value="0">--无--</option>
								<th:block th:remove="all-but-first" th:each="obj,i:${menuList}">
								<option th:if="${obj.parentMenuId==0}" th:value="${obj.menuId}" th:text="${obj.menuName}"/>
								</th:block>
							</select>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">功能名称</div>
							</div>
							<input type="text" class="form-control" name="menuName" id="menuName"/>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">事件类型</div>
							</div>
							<select name="menuType" id="menuType" class="form-control" >
								<app:dictselect dictType="1090" />
							</select>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">功能Url</div>
							</div>
							<input type="text" class="form-control" name="menuUrl" id="menuUrl"/>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">功能序号</div>
							</div>
							<input type="text" class="form-control" name="menuOrder" id="menuOrder"/>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">网页授权</div>
							</div>
							<div class="form-control">
								<input type="radio" name="isAuth" value="1" checked="checked" />是&nbsp;
								<input type="radio" name="isAuth" value="0" />否
							</div>
						</div>
						<div class="input-group input-group-sm col-sm-10 pl-0 mb-3 pr-1">
							<div class="input-group-prepend">
								<div class="input-group-text">是否启用</div>
							</div>
							<div class="form-control">
								<input type="radio" name="isUsed" value="1" checked="checked" />是&nbsp;
								<input type="radio" name="isUsed" value="0" />否
						    </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" id="doAdd" class="btn btn-primary" >确定</button>
				</div>
			</div>
		</div>
	</div>
<footer class="footer mt-20">
	<div class="container">
	</div>
</footer>
</form>

</body>
</html>